In [1]:
# imports for the notebook
import os.path
import pandas as pd

# This will return true if file exists
sbdb_csv = "C:\\Users\\rlwes\\Downloads\\temp\\datascience\\group_project\\csv_files\\sbdb_query_results.csv"
os.path.exists(sbdb_csv)

True

In [2]:
# Create the dataframe
df = pd.read_csv(r'C:\\Users\\rlwes\\Downloads\\temp\\datascience\\group_project\\csv_files\\sbdb_query_results.csv')
print(df.describe())

          spkid                    full_name      pdes       name prefix neo  \
0      20000433           433 Eros (A898 PA)       433       Eros    NaN   Y
1      20000719         719 Albert (A911 TB)       719     Albert    NaN   Y
2      20000887         887 Alinda (A918 AA)       887     Alinda    NaN   Y
3      20001036       1036 Ganymed (A924 UB)      1036    Ganymed    NaN   Y
4      20001221         1221 Amor (1932 EA1)      1221       Amor    NaN   Y
...         ...                          ...       ...        ...    ...  ..
38102   1003804            P/2021 Q5 (ATLAS)   2021 Q5      ATLAS      P   Y
38103   1003914            C/2023 E1 (ATLAS)   2023 E1      ATLAS      C   Y
38104   1003954           C/2023 S3 (Lemmon)   2023 S3     Lemmon      C   Y
38105   1004010           P/2024 L4 (Rankin)   2024 L4     Rankin      P   Y
38106   1004036       P/2024 OC2 (PANSTARRS)  2024 OC2  PANSTARRS      P   Y

       pha  sats      H     G  ...      rms  two_body            A1  \
0        N     0  10.41  0.46  ...  0.29796       NaN           NaN
1        N     0  15.59   NaN  ...  0.40563       NaN           NaN
2        N     0  13.80 -0.12  ...  0.25988       NaN           NaN
3        N     0   9.18  0.30  ...  0.31764       NaN           NaN
4        N     0  17.37   NaN  ...  0.40562       NaN           NaN
...    ...   ...    ...   ...  ...      ...       ...           ...
38102  NaN     0    NaN   NaN  ...  0.76660       NaN           NaN
38103  NaN     0    NaN   NaN  ...  0.49369       NaN  3.400000e-09
38104  NaN     0    NaN   NaN  ...  0.46366       NaN           NaN
38105  NaN     0    NaN   NaN  ...  0.33404       NaN           NaN
38106  NaN     0    NaN   NaN  ...  0.61230       NaN           NaN

           A1_sigma            A2      A2_sigma            A3      A3_sigma  \
0               NaN           NaN           NaN           NaN           NaN
1               NaN           NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN           NaN
4               NaN -7.200000e-15  2.100000e-15           NaN           NaN
...             ...           ...           ...           ...           ...
38102           NaN           NaN           NaN           NaN           NaN
38103  4.800000e-10 -3.000000e-10  2.200000e-10  2.100000e-09  1.900000e-10
38104           NaN           NaN           NaN           NaN           NaN
38105           NaN           NaN           NaN           NaN           NaN
38106           NaN           NaN           NaN           NaN           NaN

       DT  DT_sigma
0     NaN       NaN
1     NaN       NaN
2     NaN       NaN
3     NaN       NaN
4     NaN       NaN
...    ..       ...
38102 NaN       NaN
38103 NaN       NaN
38104 NaN       NaN
38105 NaN       NaN
38106 NaN       NaN

[38107 rows x 79 columns]

C:\Users\rlwes\AppData\Local\Temp\ipykernel_6324\2535923711.py:2: DtypeWarning: Columns (3,4,16,23,24,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\\Users\\rlwes\\Downloads\\temp\\datascience\\group_project\\csv_files\\sbdb_query_results.csv')